{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1 style="color:white;"> About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div style="font-weight: bolder; color: white;" class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
        <p><b>What is Foodie Panda?
                Foodie Panda is one of the most comprehensive and user-friendly apps for finding nearby restaurants and cafés to dine in or to order food online. It also gives menus, reviews, and ratings to acquire factual information on eateries.

                Users can use this information to place orders and enjoy delectable food in the comfort of their own homes. Foodie Panda offers timely delivery to customer's doorstep, a joy for foodies. Customers no longer have to wait in restaurants for hours.

                Foodie Panda is one of the most popular online food delivery systems, with users in nearly 22 countries. On the other hand, Restaurant owners can boost their internet presence by registering with the Foodie Panda app. </b></p>
        <p><b>
            Foodie Panda offers a variety of distinctive features that cater to user needs. They give you access to the best app, which supports restaurant pick-up, reservations for tables, discoveries, and more. Here are a few distinctive aspects of Foodie Panda that you should be aware of.

Quick, simple, and easy onboarding process
After downloading the Foodie Panda app, the user can log in quickly and easily. Either manually entering information such as an email address is required for login, or social login can also be used.

After logging in, the user can access the dashboard and use the services. The drivers and vendors that will function as intermediaries between you and the end user can also easily log into the app.

Search filter
Foodie Panda makes it very simple and quick for customers to purchase food online, saving them a tonne of time. Foodie Panda's user interface is cleverly designed. The app is incredibly simple to use and navigate. The search filter promotes a fantastic user experience.

The user can navigate directly to the item or similar items they are looking for, thanks to the search filter. For instance, a customer does not need to browse the entire menu if they only want the burger. All the goods that feature burgers will appear on their screen as soon as they mention them in the search filter.

Table reservation
One of the essential elements needed to develop a successful restaurant business is table booking. Users of Foodie Panda can quickly reserve tables whenever they wish. User convenience and disappointment prevention are both provided by reservations for tables.

There are more than 1.4 million restaurants on Foodie Panda's list, so you may easily discover one to reserve a table that suits your needs. The majority of eateries allow reservations for tables of 2 to 8 people.

Observe your friends
Everyone enjoys eating their favorite dish. Foodies have the opportunity to follow their pals on Foodie Panda so that they can learn what their friends eat and enjoy. Additionally, they can learn more from their surroundings.
        </b></p>
        </div>
    </div>
</div>
{% endblock content %}
